@font-face { 
	font-family: "PT Sans";
	src: local("PT Sans"),
		 url(../fonts/ptsans.woff2) format("woff2"),
		 url(../fonts/ptsans.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face { 
    font-family: "PT Sans";
    src: local("PT Sans Bold"),
		 url(../fonts/ptsansbold.woff2) format("woff2"),
		 url(../fonts/ptsansbold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

html { 
	box-sizing: border-box;
}

body {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase; 

	background-color: #f2f2f2;  
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	transition-property: color, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease;	
}

img {
	max-width: 100%;
}

[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-btn,
input::-webkit-inner-spin-btn {
    -webkit-appearance: none;
}

.svg-transition {
	transition: fill ease 0.2s;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.site-wrapper {
	position: relative;
	
	width: 100%;
	max-width: 1200px;	
	margin: 0 auto;
	
	background: #ffffff;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.btn {
	display: inline-block;
	
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;	
	
	cursor: pointer;
	transition-property: color, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.btn-number {
	position: absolute;
	top: 0;
	
	width: 38px;
	height: 38px;
	padding: 0;
	
	font-size: 0;	
	
	background: none;
	border: none;
}

.btn-number::after,
.btn-number::before {
	position: absolute;
	top: 50%;
	left: 50%;	
	
	background-color: #a9a9a9;
	
	transform: translate(-50%, -50%);
	content: "";
	transition: background-color ease 0.2s;
}

.btn-minus::before,
.btn-plus::before {
	width: 11px;
	height: 3px;
}

.btn-minus {
	left: 0;	
}

.btn-plus {
	right: 0;
}

.btn-plus::after {
	width: 3px;
	height: 11px;
}

.btn-number:hover::after,
.btn-number:hover::before,
.btn-number:focus::after,
.btn-number:focus::before {
	background-color: #000000;
}

.btn-number:active::after,
.btn-number:active::before {
	background-color: #81b3d2;
}

.btn-calendar {
	position: absolute;
	top: 50%;
	right: 9px;

	padding: 0;
	
	font-size: 0;
	
	background: none;
	border: none;
	
	transform: translate(0, -50%);
}

.btn-calendar svg {
	fill: #cacaca;
}

.btn-calendar:hover svg,
.btn-calendar:focus svg {
	fill: #000000;
}

.btn-calendar:active svg {
	fill: #81b3d2;
}	

.btn-booking {
	position: relative;
	z-index: 200;
}

.btn-wide {
	width: 100%;
	padding: 32px 20px 33px 20px;		
}

.btn-full-width {
	width: 100%;
	margin-top: 53px;
	padding: 16px 20px 18px 20px;
	white-space: normal;
}

.btn-small {
	padding: 4px 17px 2px 17px;	
	font-weight: 700;
}

.btn-wide,
.btn-full-width {
	font-size: 21px;
	font-weight: 700;
}

.btn-brown,
.btn-blue {	
	color: #fff;	
	border: none;
}

.btn-brown {	
	background-color: #766357;
}

.btn-brown:hover,
.btn-brown:focus {
	color: #fff;
	background-color: #604e43;
}

.btn-brown:active {
	color: #928a85;
	background-color: #503e33;
}

.btn-blue {		
	background-color: #81b3d2;
}

.btn-blue:hover {
	color: #fff;
	background-color: #669ec0;
}

.btn-blue:focus {
	color: #88b6d1;
	background-color: #5496bd;
}

.btn-blue:disabled,
.btn-brown:disabled {
	color: #c5c5c5;
	background-color: #ebebeb;
	cursor: default;
}

.btn-empty-white {
	padding: 8px 33px;
	
	color: #ffffff;
	font-weight: 400;	
	
	background: none;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.btn-show-results {
	display: block;
	margin: 32px auto 0 auto;	
	transform: translate(-4px);
}

.btn-empty-white:hover,
.btn-empty-white:focus {
	color: #000000;
	background-color: #ffffff;
}

.btn-empty-white:active {
	background-color: #bdbbbc;
	border-color: #bdbbbc;
}

.btn-empty-white:disabled {
	color: #fff;
	background: none;
	opacity: 0.3;
	cursor: default;
}

.btn-sort {
	padding: 3px;
	margin-left: 27px;
	
	color: #b1b1b1;
	
	background: none;
	
	border: none;
	border-bottom: 1px dotted #81b3d2;
}

.btn-sort:first-of-type {
	margin-left: 37px;
}

.btn-sort.active {
	color: #81b3d2;
	border-bottom: none;
}

.btn-sort:hover,
.btn-sort:focus {
	color: #81b3d2;	
}

.btn-sort:active {
	color: #000000;	
}

.btn-sort-dir {
	padding: 0;
	margin-left: 8px;
	font-size: 0;
	background: none;
	border: none;
}

.btn-sort-dir svg {
	margin-top: 5px;
	fill: #cacaca;
}

.btn-sort-dir.active svg {
	fill: #81b3d2;
}

.btn-sort-dir:hover svg,
.btn-sort-dir:focus svg {
	fill: #81b3d2;
}

.btn-sort-dir:active svg,
.btn-sort-dir:active svg {
	fill: #000000;
}

.column-one-third {
	flex-basis: 33.33%;
}

/* HEADER */

.site-navigation {
	position: relative;
}


.site-navigation__list {
	display: flex;
	flex-wrap: wrap;
	padding: 0 72px;
	margin: 0;
	width: 100%;
	
	list-style: none;
}

.site-navigation  li {
	flex-basis: 23%;
	padding: 17px 0 18px 0;	
}

.site-navigation__item {
	text-align: right;
}

.menu-item{
	margin-left: auto;
}

.site-navigation__list a {
	color: #000000;
	font-weight: 700;
}

.site-navigation__list a:hover,
.site-navigation__list a:focus {
	color: #81b3d2;
}

.site-navigation__list a:active {
	color: #cacaca;
}

.site-navigation__logo {
	position: absolute;
	top:0;
	left: 50%;
	transform: translate(-50%, 0);
}


.page-header{
  margin-top: 0;
	margin-bottom: 29px;
	font-size: 21px;
	line-height: 26px;
}

.header-large {
	margin-top: 0;
	margin-bottom: 33px;
	font-size: 30px;
}

.welcome-wrapper {	
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 76px;
	padding-bottom: 80px;
		
	background-color: #5585ad;
	background-image: 
		url("../img/intro-mask.svg"),
		url("../img/bg-mountains.jpg");
	background-size:
		100% auto,
		cover;
	background-position:
		50% 100%,
		50% -55px;
	background-repeat: no-repeat;	
}

.content-center {	
	text-align: center;
}

.reasons {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;	
}

.reasons__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 33.33%;	
	text-align: center;
}

.section-reasons__wrapper{
  padding: 58px 0 54px 0;	
}

.reasons__item p {
	margin: 0;
}

.reasons-header-wrapper {
	padding: 58px 0 54px 0;	
}

.reasons-descriptor {
	letter-spacing: 0.1px;
}

.reason-regular {
	padding-top: 47px;
	padding-bottom: 60px;
}

.reason-tall {
	padding-top: 57px;
	padding-bottom: 83px;
}

.reason-header {
	margin-bottom: 23px;		
	line-height: 21px;
}

.icon-wrapper {
	position: relative;
	width: 75px;
	height: 76px;
	margin-bottom: 29px;
}

.icon-wrapper img {
	position: absolute;
	top: 50%;
	left: 50%;
}

.reason-num {
	display: block;
	margin-bottom: 21px;
}


.booking__descriptor {
	line-height: 23px;
}

.booking__header-wrapper {
	padding: 57px 0 48px 0;
}

.booking__form-wrapper {
	position: relative;	
	z-index: 300;	
	width: 568px;
	margin: 0 auto;
}

.booking__form-perspective {
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0;
	
	width: 100%;
	
	perspective: 1500px;
	perspective-origin: 50% 0;
	pointer-events: none;	
}

.booking__form {	
	width: 100%; 
	padding: 55px;
	
	background-color: #fff;
	
	transform-origin: 50% 0;	
	transition: transform ease 0.6s;
	pointer-events: auto;
}

.booking__form label {
	font-weight: 700;
}

.label-children {
	padding-left: 50px;
}

.form__row-wrapper {
	display: flex;	
}

.form__row-full,
.form__row-half {
	position: relative;
	display: flex;	
	align-items: center;
}

.form__row-full {
	margin-bottom: 30px;
}

.form__row-full label {
	flex-basis: 114px;
}

.form__row-half label {
	flex-grow: 1;
}

.form__row-half {
	flex-basis: 50%;
}

.booking__form-field {
	height: 38px;
	
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
	border: none;
	transition: all ease 0.2s;
}

.booking__form-field::placeholder {
	color: #000000;
	font-weight: 700;
	opacity: 1;
}

.booking__form-field:hover {
	background-color: #ebebeb;
}

.booking__form-field:focus {
	background-color: #ffffff;
	box-shadow: 0 0 0 2px #e5e5e5 inset;
}

.booking__form-field:disabled {
	color: #c5c5c5;
}

.form__field-gray-1 {
	flex-basis: 114px;
	flex-grow: 1;
	padding: 0 40px 0 11px;
}

.form__field-gray-2 {
	width: 100%;
	padding: 0;
	text-align: center;
}

.number-field-wrapper {
	position: relative;
	width: 114px;
}

.sorting {
	display: flex;
	justify-content: space-between;
	padding-top: 29px;
	padding-bottom: 29px;
	font-size: 12px;
}

.sorting .header-regular {
	margin: 0 47px 0 0;	
}

.sorting .column-left {
	display: flex;
	align-items: baseline;
}


/* hotel list */

.hotels__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hotels__list li {
	padding-top: 30px;
	padding-bottom: 30px;
}

.hotel__item {
	display: flex;
	justify-content: space-between;	
}

.hotels__list li,
.sorting {
	padding-left: 72px; 
	padding-right: 72px; 
	border-bottom: 1px solid #e5e5e5;
}

.hotel__description {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 30px;
}

.hotel__title {
	margin: 0;
	font-size: 21px;
	line-height: 0.8;
	letter-spacing: 0.2px;
}

.hotel__title a {
	color: #000000;
}

.hotel__title a:hover {
	color: #81b3d2;
}

.hotel__title a:focus {
	color: #b2b2b2;
}

.hotel__type {
	display: flex;
	margin-top: 12px;
	margin-bottom: 13px;
}

.type {
	min-width: 115px;
	padding-right: 15px;
}

.hotel__btns {
	display: flex;
}

.hotel__btns .btn {
	margin-left: 6px;
}

.hotel__btns .btn:first-child {
	margin-left: 0;
}

.hotel__meta {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	flex-shrink: 0;
}

.stars {
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: space no-repeat;	
}

.stars-1 {
	width: 18px;
}

.stars-2 {
	width: 41px;
}

.stars-3 {
	width: 65px;
}

.stars-4 {
	width: 88px;
}

.stars-5 {
	width: 106px;
}

.rating {
	padding: 4px 13px 2px 13px;
	
	color: #666666;
	text-transform: uppercase;
	text-align: center;	
	
	background-color: #f2f2f2;
}

.sorting {
	display: flex;
	justify-content: space-between;
	padding-top: 29px;
	padding-bottom: 29px;
	font-size: 12px;
}

.sorting .header-regular {
	margin: 0 47px 0 0;	
}

.sorting .column-left {
	display: flex;
	align-items: baseline;
}

.hotels-list li,
.sorting {
	padding-left: 72px; 
	padding-right: 72px; 
	border-bottom: 1px solid #e5e5e5;
}


/* hotels main */

/* footer */

.main-footer {
	
	bottom: 0;
	z-index: 400;
}

.main-footer,
.inner-page-footer {
	display: flex;
	width: 100%;
	padding: 30px 0;
	background-color: rgba(255,255,255,0.9);	
}

.footer__column {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__column:first-child {
	flex-direction: column;	
	font-weight: 700;
	font-size: 21px;
	line-height: 29px;
}

.footer__wrapper {
	margin-left: 72px;
}

.footer__hashtag {
	margin-bottom: 4px;
}

.footer__tel a {
	color: #000000;
}

.footer__tel a:hover,
.footer__tel a:focus {
	color: #81b3d2;
}	

.social-links {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.social-links li {
	margin: 0 2px;
}

.social-link {
	display: block;
	width: 48px;
	height: 48px;
	
	text-align: center;
	line-height: 54px;
	
	background-color: #81b3d2;
}

.social-link svg {
	fill: #ffffff;
}

.social-link:hover,
.social-link:focus {
	background-color: #669ec0;
}

.social-link:active {
	background-color: #5496bd;
}

.social-link:active svg {
	fill: #88b6d1;
}

.icon-fb {
	padding-top: 3px;
}

.logo-htmlacademy {
	position: relative;
	top: -1px;
	width: 115px;
	height: 39px;	
}

.logo-htmlacademy  {
	margin-left: 8px;
}

.logo-htmlacademy :hover svg,
.logo-htmlacademy :focus svg {
	fill: #81b3d2;
}

.logo-htmlacademy :active svg {
	fill: #bdbbbc;
}

/* FOOTER */