@font-face { 
	font-family: "PT Sans";
	src:
		 url(../fonts/ptsans.woff2) format("woff2"),
		 url(../fonts/ptsans.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face { 
    font-family: "PT Sans";
    src:
		 url(../fonts/ptsansbold.woff2) format("woff2"),
		 url(../fonts/ptsansbold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

:root {
  --basic-light-white: #FFFFFF;
  --basic-white: #F2F2F2;
  --basic-dark-white: #EBEBEB;
  --basic-dark-white2: #EEEEEE;
	--basic-light-blue: #81B3D2;
	--basic-light-blue2: #87B5D1;
  --basic-blue: #669EC0;
	--basic-dark-blue: #5496BD; 
	--basic-dark-blue-focus: #5585ad; 
  --basic-light-gray: #BDBBBC;
	--basic-light-gray2: #E5E5E5;
	--basic-gray-sort: #b1b1b1;
	--basic-gray-focus: #b2b2b2;
	--basic-gray: #A9A9A9;
	--basic-grey-disabled: #c5c5c5;
	--basic-grey-handle: #ababab;
	--basic-dark-gray: #CACACA;
	--basic-light-brown: #928a85;
	--basic-light-brown2: #766357;
  --basic-brown: #604E43;
	--basic-dark-brown: #503E33;
  --basic-light-black: #6A6A6A;
  --basic-light-black2: #666666;
  --basic-black: #333333;
  --basic-dark-black: #000000;
	--basic-dark-black2: #231F20;
	--basic-box-shadow: rgba(0,0,0,0.2);
	--basic-bg-footer: rgba(255,255,255,0.9);
	--basic-shadow: rgba(255,255,255,0.3);
	--basic-checkbox-focus: rgba(255,255,255,0.35);
}

html { 
	box-sizing: border-box;
}

body {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: var(--basic-dark-black);
	text-transform: uppercase;
	background-color: var(--basic-white);
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	transition-property: color, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease;	
}

img {
	max-width: 100%;
}

[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.svg-transition {
	transition: fill ease 0.2s;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.site-wrapper {
	position: relative;
	
	width: 100%;
	max-width: 1200px;	
	margin: 0 auto;
	
	background: var(--basic-light-white);
	box-shadow: 0 0 15px 0 var(--basic-box-shadow);;
}

.btn {
	display: inline-block;
	
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;	
	
	cursor: pointer;
	transition-property: color, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.btn-number {
	position: absolute;
	top: 0;
	
	width: 38px;
	height: 38px;
	padding: 0;
	font-size: 0;	
	
	background: none;
	border: none;
}

.btn-number::after,
.btn-number::before {
	position: absolute;
	top: 50%;
	left: 50%;	
	
	background-color: var(--basic-gray);
	
	transform: translate(-50%, -50%);
	content: "";
	transition: background-color ease 0.2s;
}

.btn-minus::before,
.btn-plus::before {
	width: 11px;
	height: 3px;
}

.btn-minus {
	left: 0;	
}

.btn-plus {
	right: 0;
}

.btn-plus::after {
	width: 3px;
	height: 11px;
}

.btn-number:hover::after,
.btn-number:hover::before,
.btn-number:focus::after,
.btn-number:focus::before {
	background-color: var(--basic-dark-black);
}

.btn-number:active::after,
.btn-number:active::before {
	background-color: var(--basic-light-blue);
}

.btn-calendar {
	position: absolute;
	top: 50%;
	right: 9px;

	padding: 0;
	
	font-size: 0;
	
	background: none;
	border: none;
	
	transform: translate(0, -50%);
}

.btn-calendar svg {
	fill: var(--basic-dark-gray);
}

.btn-calendar:hover svg,
.btn-calendar:focus svg {
	fill: var(--basic-dark-black);
}

.btn-calendar:active svg {
	fill: var(--basic-light-blue);
}	

.btn-booking {
	position: relative;
	z-index: 200;
}

.btn-wide {
	width: 100%;
	padding: 32px 20px 33px 20px;		
}

.btn-full-width {
	width: 100%;
	margin-top: 55px;
	padding: 16px 20px 18px 20px;
	white-space: normal;
}

.btn-small {
	padding: 4px 17px 2px 17px;	
	font-weight: 700;
}

.btn-wide,
.btn-full-width {
	font-size: 21px;
	font-weight: 700;
}

.btn-brown,
.btn-blue {	
	color: var(--basic-light-white);	
	border: none;
}

.btn-brown {	
	background-color: var(--basic-light-brown2);
}

.btn-brown:hover,
.btn-brown:focus {
	color: var(--basic-light-white);
	background-color: var(--basic-brown);
}

.btn-brown:active {
	color: var(--basic-light-brown);
	background-color: var(--basic-dark-brown);
}

.btn-blue {		
	background-color: var(--basic-light-blue);
}

.btn-blue:hover {
	color: var(--basic-light-white);
	background-color: var(--basic-blue);
}

.btn-blue:focus {
	color: var(--basic-light-blue2);
	background-color: var(--basic-dark-blue);
}

.btn-blue:disabled,
.btn-brown:disabled {
	color: var(--basic-grey-disabled);
	background-color: var(--basic-dark-white);
	cursor: default;
}

.btn-empty-white {
	padding: 8px 33px;
	
	color: var(--basic-light-white);
	font-weight: 400;	
	
	background: none;
	border: 2px solid var(--basic-light-white);
	border-radius: 2px;
}

.btn-show-results {
	display: block;
	margin: 33px auto 0 auto;	
	transform: translate(-4px);
}

.btn-empty-white:hover,
.btn-empty-white:focus {
	color: var(--basic-dark-black);
	background-color: var(--basic-light-white);
}

.btn-empty-white:active {
	background-color: var(--basic-light-gray);
	border-color: var(--basic-light-gray);
}

.btn-empty-white:disabled {
	color: var(--basic-light-white);
	background: none;
	opacity: 0.3;
	cursor: default;
}

.btn-sort {
	padding: 3px;
	margin-left: 27px;
	
	color: var(--basic-gray-sort);
	
	background: none;
	
	border: none;
	border-bottom: 1px dotted var(--basic-light-blue);
}

.btn-sort:first-of-type {
	margin-left: 37px;
}

.btn-sort.active {
	color: var(--basic-light-blue);
	border-bottom: none;
}

.btn-sort:hover,
.btn-sort:focus {
	color: var(--basic-light-blue);	
}

.btn-sort:active {
	color: var(--basic-dark-black);	
}

.btn-sort-dir {
	padding: 0;
	margin: 17px 0px 0 10px;
	font-size: 0;
	background: none;
	border: none;
}

.btn-sort-dir svg {
	margin-top: 5px;
	fill: var(--basic-dark-gray);
}

.btn-sort-dir.active svg {
	fill: var(--basic-light-blue);
}

.btn-sort-dir:hover svg,
.btn-sort-dir:focus svg {
	fill: var(--basic-light-blue);
}

.btn-sort-dir:active svg,
.btn-sort-dir:active svg {
	fill: var(--basic-dark-black);
}

.column-one-third {
	flex-basis: 33.33%;
}

.header-regular {
	margin-top: 0;
	margin-bottom: 46px;
	font-size: 21px;
	line-height: 26px;
}

.header-large {
	margin-top: 0;
	margin-bottom: 34px;
	font-size: 30px;
}

/* HEADER */

.site-navigation {
	position: relative;
}

.site-navigation__list {
	display: flex;
	flex-wrap: wrap;
	padding: 0 72px;
	margin: 0;
	width: 100%;
	
	list-style: none;
}

.site-navigation  li {
	flex-basis: 23%;
	padding: 17px 0 18px 0;	
}

.menu-item-right {
	text-align: right;
} 

.menu-item{
	margin-left: auto;
}

.menu-right{
	margin-left: -14px;
}

.menu-left{
	margin-right: -16px;
}

.site-navigation__list a {
	color: var(--basic-dark-black);
	font-weight: 700;
}

.site-navigation__list a:hover,
.site-navigation__list a:focus {
	color: var(--basic-light-blue);
}

.site-navigation__list a:active {
	color: var(--basic-dark-gray);
}

.current-page-menu-item a,
.current-page-menu-item a:hover,
.current-page-menu-item a:focus {
	color: var(--basic-light-brown2);	
}

.site-navigation__logo {
	position: absolute;
	top:0;
	left: 50%;
	transform: translate(-50%, 0);
}

/* HEADER */

/* INDEX MAIN CONTENT */

.welcome-wrapper {	
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 76px;
	padding-bottom: 80px;
		
	background-color: var(--basic-dark-blue-focus);
	background-image: 
		url("../img/intro-mask.svg"),
		url("../img/bg-mountains.jpg");
	background-size:
		100% auto,
		cover;
	background-position:
		50% 100%,
		50% -55px;
	background-repeat: no-repeat;	
}

.content-center {	
	text-align: center;
}

.reasons {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;	
}

.reasons-descriptor{
	color: var(--basic-black);
}

.reasons__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 33.33%;	
	text-align: center;
}

.reasons__item p {
	color: var(--basic-black);
	margin: 0;
}

.reasons-header-wrapper {
	padding: 42px 0 54px 0;	
}

.reason-regular {
	padding-top: 47px;
	padding-bottom: 54px;
}

.reason-tall {
	padding-top: 57px;
	padding-bottom: 83px;
}

.reasons__title {
	color: var(--basic-dark-black);
	margin-bottom: 24px;		
	line-height: 22px;
}

.block-blue .reasons__title{
	color: var(--basic-light-white);
}

.block-blue p{
	color: var(--basic-light-white);
}

.reasons__num {
	display: block;
	margin-bottom: 24px;
}

.icon-wrapper {
	position: relative;
	width: 75px;
	height: 76px;
	margin-bottom: 26px;
}

.icon-wrapper img {
	position: absolute;
	top: 50%;
	left: 50%;
}

.icon-house {
	transform: translate(-50%, -50%) scale(1.1);
}

.icon-food {
	transform: translate(-50%, -53%) scale(1.07);
}

.icon-gift {
	transform: translate(-50%, -50%) scale(1.15);
}

.block-img {	
	position: relative;
	flex-grow: 1;
	flex-basis: 66.66%;
	
	background-color: var(--basic-light-blue);
	
	overflow: hidden;	
}

.img-right,
.img-left {
	position: absolute;
	top: 0;
	
	display: block;
	width: auto;
	height: 100%;
	max-width: 9999px;
}

.img-right {
	right: 0;
}

.img-left {
	left: 0;
}

.block-blue {
	color: var(--basic-light-white);
	background-color: var(--basic-light-blue); 
}

.block-gray {
	color: var(--basic-black);
	background-color: var(--basic-dark-white2); 
}

.booking__descriptor {
	line-height: 25px;
}

.booking__header-wrapper {
	padding: 57px 0 43px 0;
}

.booking__form-wrapper {
	position: relative;	
	z-index: 300;	
	width: 568px;
	margin: 0 auto;
}

.booking__form-perspective {
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0;
	
	width: 100%;
	
	perspective: 1500px;
	perspective-origin: 50% 0;
	pointer-events: none;	
}

.booking__form {	
	width: 100%; 
	padding: 55px;
	
	background-color: var(--basic-light-white);
	
	transform-origin: 50% 0;	
	transition: transform ease 0.6s;
	pointer-events: auto;
}

.form-closed {
	transform:rotateX(-90deg);
	pointer-events: none;
}

@keyframes validation-error {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.validation-error {
	animation: validation-error 0.6s;
}

.error {
	box-shadow: 0 0 0 2px red inset;
}

.booking__form label {
	font-weight: 700;
}

.label-children {
	padding-left: 50px;
}

.form__row-wrapper {
	display: flex;	
}

.form__row-full,
.form__row-half {
	position: relative;
	display: flex;	
	align-items: center;
}

.form__row-full {
	margin-bottom: 29px;
}

.form__row-full label {
	flex-basis: 112px;
}

.form__row-half label {
	flex-grow: 1;
}

.form__row-half {
	flex-basis: 50%;
}

.booking__form-field {
	height: 38px;
	
	color: var(--basic-dark-black);
	font-weight: 700;
	text-transform: uppercase;
	
	background-color: var(--basic-white);
	border: none;
	transition: all ease 0.2s;
}

.booking__form-field::placeholder {
	color: var(--basic-dark-black);
	font-weight: 700;
	opacity: 1;
}

.booking__form-field:hover {
	background-color: var(--basic-dark-white);
}

.booking__form-field:focus {
	background-color: var(--basic-light-white);
	box-shadow: 0 0 0 2px var(--basic-light-gray2) inset;
}

.booking__form-field:disabled {
	color: var(--basic-grey-disabled);
}

.form__field-gray-1 {
	flex-basis: 114px;
	flex-grow: 1;
	padding: 0 40px 0 12px;
}

.form__field-gray-2 {
	width: 100%;
	padding: 0;
	text-align: center;
}

.number-field-wrapper {
	position: relative;
	width: 114px;
}

.section-location {
	position: relative;
}

.map-img {
	position: relative;
	z-index: 100;
	display: block;
}

.map-js {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	
	width: 100%;
	height: 100%;
}

.map-js::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.05);
	pointer-events: none;
	content: "";
}

.content-width {
	margin-right: auto;
	margin-left: auto;	
}

.content-width-1 {
	width: 450px;
}

.content-width-2 {
	width: 150px;
}

.content-width-3 {
	width: 300px;
}

.content-width-4 {
	width: 270px;
}

.content-width-5 {
	width: 220px;	
}

.content-width-6 {
	width: 280px;
}

.content-width-7 {
	width: 310px;
}

.content-width-8 {
	width: 250px;	
}

/* INDEX MAIN CONTENT */

/* HOTELS MAIN CONTENT */

.section-filters {
	padding: 26px 73px 31px 73px;
	color: var(--basic-light-white);
	background: var(--basic-dark-blue-focus) url("../img/bg-mountains-2.jpg");
	background-size: cover;
}

.section-filters form {
	display: flex;
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.filters-column__first {
	flex-basis: 136px;
}

.filters-column__second {
	flex-grow: 1;
	margin-left: 119px;	
}

.section-filters label {
	position: relative;
	display: block;
	margin-top: 23px;
	padding-left: 39px;
	line-height: 23px;	
}

.section-filters label:first-of-type {
	margin-top: 0;
}

.checkbox__fake {
	position: absolute;
	left: 0;
	
	width: 27px;
	height: 23px;
	
	background-image: url("../img/checkbox-off.svg");
	background-size: auto 100%;
	background-repeat: no-repeat;
	
	cursor: pointer;
}

.checkbox__fake,
.checkbox__input:disabled + .checkbox__fake {
	background-image: url("../img/checkbox-off.svg");
}

.checkbox__input:checked + .checkbox__fake,
.checkbox__input:checked:disabled + .checkbox__fake {
	background-image: url("../img/checkbox-on.svg");
}

.checkbox__input:disabled + .checkbox__fake,
.checkbox__input:checked:disabled + .checkbox__fake {
	opacity: 0.3;
	cursor: default;
}

.checkbox__input:focus + .checkbox__fake::after {
	content:"";
	
	position: absolute;
	top: 50%;
	left: 0;
	
	width: 23px;
	height: 23px;
	margin-top: -11px;	
	
	background-color: var(--basic-checkbox-focus);
	border-radius: 3px;
}

.price__inputs {
	display: flex;
	width: 317px;
	padding: 5px;
	border: 2px solid var(--basic-light-white);
	border-radius: 2px;
}

.price__input {
	flex-basis: 50%;
	height: 22px;
	min-width: 0;
	
	color: var(--basic-light-white);
	text-align: center;
	text-transform: uppercase;
	
	background: none;
	border: none;
}

.price__input:disabled {
	color: var(--basic-shadow);
}

.price__input-left {
	border-right: 1px solid var(--basic-light-white);
}

.price__input-right {
	padding-left: 10px;
	border-left: 1px solid var(--basic-light-white);
}

.price__slider {
	position: relative;
	height: 2px;
	margin-top: 20px;
	background-color: var(--basic-shadow); 
}

.current-price-range,
.handle-left,
.handle-right {
	position: absolute;
}

.handle-left,
.handle-right {
	top: -9px;
	z-index: 100;
	
	width: 20px;
	height: 20px;
	
	background-color: var(--basic-grey-handle);
	
	border-radius: 50%;
	border: 8px solid var(--basic-light-white);
	box-shadow: 0 2px 0 0 var(--basic-shadow);

	cursor: pointer;
	transition: transform ease 0.2s;	
}

.handle-left {
	left: 0;
}

.handle-right {
	right: 45px;
}

.current-price-range {
	z-index: 55;
	height: 100%;
	width: 263px;
	background-color: var(--basic-light-white);
}

.handle-left:hover,
.handle-right:hover {
	transform: scale(1.1);
}

.header-small,
.header-small-price {
	margin-top: 0;
	font-size: 16px;
}

.header-small {
	margin-bottom: 25px;
}

.header-small-price {
	margin-bottom: 11px;
}

.sorting{
	display: flex;
	justify-content: space-between;
	padding-top: 16px;
	padding-bottom: 24px;
	font-size: 12px;
}

.sorting__search{
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin: 4px 47px 0px 1px;
}

.sorting__title{
	font-size: 12px;
	font-weight: normal;
}

.sorting .column-left {
	display: flex;
	align-items: center;
}

.sorting__list{
  display: flex;
	flex-direction: row;
	list-style-type: none;
	padding-left: 0;
	max-width: 689px;
}

.sorting__item{
	margin-left: 6px;
}

.sorting__link {
	padding: 3px;
	margin-left: 21px;
	
	color: var(--basic-gray-sort);
	
	background: none;
	
	border: none;
	border-bottom: 1px dotted var(--basic-light-blue);
}

.sorting__link.active {
	color: var(--basic-light-blue);
	border-bottom: none;
	margin-left: 31px;
}

.sorting__link:hover,
.sorting__link:focus {
	color: var(--basic-light-blue);	
}

.sorting__link:focus {
	border: none;
}

.sorting__link:active {
	color: var(--basic-dark-black);	
	border: none;
}

.hotels__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hotels__list li {
	padding-top: 30px;
	padding-bottom: 30px;
}

.hotel__item {
	display: flex;
	justify-content: space-between;	
}

.hotels__list li,
.sorting {
	padding-left: 72px; 
	padding-right: 72px; 
	border-bottom: 1px solid var(--basic-light-gray2);
}

.hotel__description {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 30px;
}

.hotel__title {
	margin: -5px 0 0 0;
	font-size: 21px;
}

.hotel__title a {
	color: var(--basic-dark-black);
}

.hotel__title a:hover {
	color: var(--basic-light-blue);
}

.hotel__title a:focus {
	color: var(--basic-gray-focus);
}

.hotel__type {
	display: flex;
	margin-top: 8px;
	margin-bottom: 14px;
	color: var(--basic-black);
}

.type {
	min-width: 115px;
	padding-right: 15px;
}

.hotel__btns {
	display: flex;
}

.hotel__btns .btn {
	margin-left: 5px;
}

.hotel__btns .btn:first-child {
	margin-left: 0;
}

.hotel__meta {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	flex-shrink: 0;
}

.stars {
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: space no-repeat;	
}

.stars-1 {
	width: 18px;
}

.stars-2 {
	width: 41px;
}

.stars-3 {
	width: 65px;
}

.stars-4 {
	width: 88px;
}

.stars-5 {
	width: 106px;
}

.rating {
	padding: 4px 13px 2px 13px;
	
	color: var(--basic-light-black2);
	text-transform: uppercase;
	text-align: center;	
	
	background-color: var(--basic-white);
}

/* HOTELS MAIN CONTENT */

/* FOOTER */

.main-footer {
	position: absolute;
	bottom: 0;
	z-index: 400;
}

.main-footer,
.inner-page-footer {
	display: flex;
	width: 100%;
	padding: 22px 0 40px 0;
	background-color: var(--basic-bg-footer);	
}

.footer__column {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__column:first-child {
	flex-direction: column;	
	font-weight: 700;
	font-size: 21px;
	line-height: 29px;
}

.footer__wrapper {
	margin-left: 72px;
	text-align: center;
}

.footer__hashtag {
	margin-bottom: 4px;
}

.footer__tel a {
	color: var(--basic-dark-black);
}

.footer__tel a:hover,
.footer__tel a:focus {
	color: var(--basic-light-blue);
}	

.social-links {
	display: flex;
	padding: 0;
	margin: 14px 0 0 0;
	list-style: none;
	max-width: 400px;
}

.social-links li {
	margin: 0 2px;
}

.social-link {
	display: block;
	width: 48px;
	height: 48px;
	
	text-align: center;
	line-height: 54px;
	
	background-color: var(--basic-light-blue);
}

.social-link svg {
	fill: var(--basic-light-white);
}

.social-link:hover,
.social-link:focus {
	background-color: var(--basic-blue);
}

.social-link:active {
	background-color: var(--basic-dark-blue);
}

.social-link:active svg {
	fill: var(--basic-light-blue2);
}

.copyright{
  margin: 14px 0 0 -36px;
}

.icon-fb {
	padding-top: 3px;
}

.logo-htmla {
	position: relative;
	top: -1px;
	width: 115px;
	height: 39px;	
}

.logo-htmla {
	margin-left: 8px;
}

.logo-htmla:hover svg,
.logo-htmla:focus svg {
	fill: var(--basic-light-blue);
}

.logo-htmla:active svg {
	fill: var(--basic-light-gray);
}

/* FOOTER */